<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="CollectionManagerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <CollectionManagerApp.Properties.Settings>
            <setting name="StartupSettings" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="Audio_autoPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Audio_playerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Audio_volume" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Osustats_apiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadManager_DownloaderSettings" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="DontAskAboutReorderingCollections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CollectionColumns" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="BeatmapColumns" serializeAs="String">
                <value>[]</value>
            </setting>
        </CollectionManagerApp.Properties.Settings>
        <App.Properties.Settings>
            <setting name="StartupSettings" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="Audio_autoPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Audio_playerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Audio_volume" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Osustats_apiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadManager_DownloaderSettings" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="DontAskAboutReorderingCollections" serializeAs="String">
                <value>False</value>
            </setting>
        </App.Properties.Settings>
    </userSettings>
</configuration>
